@font-face {
    font-family: poppinsMedium;
    src: url(./assets/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsMediumBold;
    src: url(./assets/Poppins/Poppins-Medium.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}