.MuiButton-text {
    padding: 0px 0px;
    font-family: poppinsMedium !important;
    font-size: 20px !important;
    text-transform: none !important;
}

.MuiButtonBase-root {
    color: white !important;
    border-radius: 50px !important;
    background-color: #0256FA !important;
}