.btnCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file{
    width: 20% !important;
    overflow: hidden;
    height: 50%;
    font-family: poppinsMedium !important;
    font-size: 14px !important;
    background-color: white !important;
    color: black !important;
    font-weight: 200 !important;
    margin-left: 2% !important;
}

.photo{
    border: none;
    pointer-events: none;
}