@function colorRgb($c){
    @return  rgb($c,$c,$c);
}

.feedAp{
    grid-column: 1/4 !important;

    & > .back{

        align-self: flex-start;
        margin: 15px 0 0 15px;
        cursor: pointer;

        & > .backIcon{
            font-size: 30px;
            color: colorRgb(200)
        }
    }

}


.feedCompany {
    grid-column: 1/5;
    grid-row: 2/3;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: colorRgb(80);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: colorRgb(100);
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: colorRgb(120);
    }

    &::-webkit-scrollbar-track {
        background: colorRgb(20);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: colorRgb(20);
    }
}

.iconosBtn{
    margin: 20px 18px 20px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    & div{
        height: 78px; 
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: colorRgb(20) !important;
        border-radius: 10px;
        cursor: pointer;

        & .ic{
            font-size: 40px !important;
            color: colorRgb(200) !important;
        }

        & .icApp{
            font-size: 40px !important;
            color: rgb(19, 138, 0) !important;
        }

        & .icCan{
            font-size: 40px !important;
            color: rgb(188, 0, 0) !important;
        }

        & p{
            margin: 0 0 0 10px;
        }

    }
}

.sign-out{
    width: 50% !important;
    margin-top: auto !important;
    margin-bottom: 15% !important;
}

.gridRegAp{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 12.4% 1fr;

    & > div{
        width: 100%;
        height: 100%;
        display: flex;
    }

    .right-barAp{
        grid-column: 4/6;
        grid-row: 2/3;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .inp{
            width: 80% !important;
            margin-top: 8%;
        }

        & .MuiButtonBase-root {
            color: colorRgb(80) !important;
            border-radius: 50px !important;
            background-color: transparent !important;
        }

        & .slide{
            width: 80%;
            height: 20%;
            margin-top: 10%;

            & .MuiSlider-root{
                color: colorRgb(140);
            }

        }

        & .filter{
            transition: background-color 0.3s ease-out;
            background: transparent;
            background-color: transparent !important;
            box-shadow: none;
            color: colorRgb(200) !important;
            width: 60% !important;
            margin-top: 20px;

            &:hover{
                background-color: colorRgb(40) !important;
            }
        }

    }
}

.profile{

    grid-column: 2/6;
    grid-row: 2/3;

}