.feedCompany {
    grid-column: 1/5;
    grid-row: 2/3;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background: colorRgb(80);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: colorRgb(100);
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: colorRgb(120);
    }

    &::-webkit-scrollbar-track {
        background: colorRgb(20);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: colorRgb(20);
    }
}

