@function colorRgb($c){
    @return  rgb($c,$c,$c);
}

@function gradient($c){
    @return linear-gradient(135deg, colorRgb($c), colorRgb($c))
}

.grid{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 12.4% 1fr;

    & > div{
        width: 100%;
        height: 100%;
        display: flex;
    }
}

.nav-bar{
    grid-column: 1/3;
    background-color: colorRgb(30);
    align-items: center;
    justify-content: flex-end;

    & > img{
        height: 70%;
        margin-left: 2%;
        margin-right: auto;
    }

    & > Button{
        width: 10% !important;
        height: 48% !important;
        font-size: 90% !important;
        margin-right: 2% !important;
    }

}

.imageBack{
    overflow: hidden;
    align-items: center;
    justify-content: center;
    
    & > #back{
        width: 100%;
        position: relative;
        z-index: 0;
    }

    & > #worker{
        height: 100%;
        position: relative;
    }

    & > div{
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & > h1{
            font-family: poppinsMediumBold;
            font-size: 74px;
            color: white;
        }

        & > h2{
            font-family: poppinsMediumBold;
            font-size: 30px;
            color: colorRgb(163);
            text-align: center;
            margin-top: 0;
        }

        & > Button{
            margin-top: 20px;
            width: 20%;
            height: 70px;
        }

    }

}

.signIn{
    transition: background-color 0.3s ease-out;
    background: transparent;
    background-color: colorRgb(30) !important;
    box-shadow: none;

    &:hover{
        background-color: colorRgb(40) !important;
    }
}