.labels{
    color: rgb(80, 80, 80);
    font-size: 22px;
}

.inputs{
    border-color: rgb(80, 80, 80) !important;
    color:rgb(163, 163, 163) !important;
    justify-self: center !important;
    font-size: 10px !important;
    width: 100px !important;
}

.MuiInput-underline:before{
    border-bottom: 2px solid rgb(80, 80, 80) !important;
    width: 100% !important;
  }

.MuiInput-input{
    color: rgb(140, 140, 140) !important;
    font-family: poppinsMedium !important;
    font-size: 18px !important;
    width: 100% !important;
    margin: 1% 0% !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid rgba(2, 86, 250) !important;
}

.MuiInputLabel-root{
    color: rgb(80, 80, 80) !important;
    font-family: poppinsMedium !important;
    font-size: 20px !important;
}

/* .MuiInputLabel-shrink{
    color: rgb(2, 86, 250) !important;
} */

.MuiInputBase-root {
    width: 100% !important;
}

.Mui-focused{
    color: rgb(2, 86, 250) !important;
}