.maincito{
    width: 576px;
    height: 620px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #0256FA;
}

.container{
    height: 85px;
    width: 358px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 85px;
    height: 91px;
    padding-top: 10px;
}

.logoWord{
    width: 257px;
    height: 68px;
    padding-top: 10px;
}

.title{

    font-family: poppinsMedium;
    font-size: 36px;
    color: rgb(200, 200, 200);
    align-self: flex-start;
    margin: 0px 0px 0px 24px;
}

.link{
    border-radius: 25px;
    font-family: poppinsMedium;
    font-size: 20px;
    color:rgb(163, 163, 163);
    margin-top: auto;
}